/*main.css*/
/*
Aufgabe: 2 Name: Manuel Matern
Matrikel: 261185
Datum: 06.04.2019
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und
auch nicht diktiert. */


body{
    border: solid black;
    background: darkgreen;
    width:1024px;
    height: 600px;
}

#ablage {
    color: white;
    border: solid black;
    position: absolute;
    background: brown;
    width: 130px;
    height: 200px;
    top: 20px;
    left: 60px;
}

#aufnahme {
    color: white;
    border: solid black;
    position: absolute;
    background: brown;
    width: 130px;
    height: 200px;
    top: 20px;
    right: 300px;
}

#hand {
    color: white;
    border: solid black;
    position: absolute;
    background: brown;
    width: 1021px;
    height: 250px;
    top: 300px;
}

#handCards {
    color: white;
    border: solid black;
    position: absolute;
    background: rgb(138, 130, 130);
    width: 130px;
    height: 200px;
}

.i0{
    left: 10px;
}
.i1{
    left: 160px;
}

.i2{
    left: 310px;
}

.i3{
    left: 460px;
}

.i4{
    left: 610px;
}

.i5{
    left: 760px;
}

.i6{
    left: 910px;
}