/*main.css*/

/* #mycancas {
    display: inline-block;
} */

body {
    display: flex;
    flex-direction: row;
}

#highscoreHeadline {
    text-align: center;
}

#highscores {
    background-color: rgb(26, 84, 207);
    min-width: 11rem;
    margin-left: 2rem;
    padding: 1rem;
    /* text-align: center; */
    /* float: right; */
    /* display: inline-block; */
}